.nav-pills {
	background-color: #333333;
}
.nav-pills>li.active>a{
	border-radius: 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	border-radius: 0px;
}
ul
{
	list-style-type: none;
}
h2
{
	color: #333333;
}
.form-control 
{
	margin-top: 20px;
}
.select
{
	margin-top: 20px;
}

#button
{
	margin-top: 10px;
	margin-bottom: 20px;
}
#overzicht
{
	background-color: #34495E;
	color: white;
	height: 100%;
	float: right;
	width: 85%;
}
#overzicht li
{
	margin-top: 50px;
	margin-left: 100px;
	background-color: #fff;
	border-radius: 10px;
	color: #333;
	padding: 5px 5px 5px 20px;
	-webkit-box-shadow:inset 3px 3px 2px 3px #000;
	box-shadow:inset 3px 3px 2px 3px #000;
}
.container-fluid
{
	background-color: #3498DB;
	float: right;
	width: 85%;
}
.nav-sidebar
{
	float: left;
	width: 15%;
}
#tekst2
{
	float: right;
	width: 75%;
}